# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.whl

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore PyCharm venv and ide env
.idea/
venv/

# Ignore App tests
tests/

# Ignore Dockerfile and Docker-related configs themselves
Dockerfile
.dockerignore